<h2>Roster for Team: <%=@team.name%></h2>
<h3>Captain: <%=@captain.first_name + " "%><%= @captain.last_name%></h3>
<img src=<%=@team.mascot_url%>>
<br>
<% @roster.each do |roster_entry| %>
  <%= link_to "#{roster_entry.player.first_name} #{roster_entry.player.last_name}", player_path(roster_entry.player)%>
  <br>
<%end%>

<h3><%if logged_in?%>
    <%= form_tag(controller: "roster_entries", action: "create", method: "post", class: "join-team") do %>
    <%= check_box_tag(:sub?) %>
    <%= label_tag(:sub?, "I am a substitute") %>
    <%= hidden_field_tag(:team_id, @team.id) %>
    <%= submit_tag("Join Team") %>
    <% end %>
  <%end%>
</h3>
<p id="games-won-by-team">Games won: <%= @team.wins %></p>
<p id="team-games">Games played: <%=team_games.length%></p>
