<h2><%=@sport.name%> Page</h2>

<div class="Teams">
<h4> <%= @sport.name%> teams </h4>
<% @teams.each do |team| %>
 <p> <%=link_to team.name, team_path(team) %> </p>
 <% end %>
 </div>
<div class ="upcoming-games">
<h4>
  Upcoming <%=@sport.name%> games
</h4>
  <% @unplayed_game.each do |game|%>
    <p>
    <%= game.home_team.name %> vs <%= game.away_team.name%>
    <br>
    location: <%= game.location %>
    <br>
    time: <%= game.date%>, <%= game.time %>
    <br>
    </p>
  <%end%>
</div>
<div class="completed-games">
<h4>
  Completed <%=@sport.name%> games
</h4>
  <% @played_game.each do |game|%>
    <p>
    <%= game.home_team.name %> vs <%= game.away_team.name%>
    <br>
    location: <%= game.location %>
    <br>
    time: <%= game.date%>, <%= game.time %>
    <br>
   Winner:<%= game.winning_team.team.name %>
    </p>
  <%end%>
</div>
